<svg style="display: none; !important;">
    {{ $svgDirectory := .Get 0 }}
    {{ $filePathPattern := printf "svg/%s/*.svg" $svgDirectory }}
    {{ range resources.Match $filePathPattern }}
        {{ $svgId := .Name | replaceRE "[^/]*/" "" | replaceRE "([^\\.]+).*" "$1" }}
        {{ $idedSvgTagStart := printf "<svg id='%s--%s'" $svgDirectory $svgId }}

        {{ .Content
            | safeHTML
            | replaceRE "<\\?xml [^>]+>" ""
            | replaceRE "(<svg [^>]*)(id=['\"][^'\"]+['\"])" "$1"
            | replaceRE "(<svg )" $idedSvgTagStart
            | safeHTML
        }}
    {{ end }}
</svg>