:root {
    --page-width: 297mm;
    --page-height: 210mm;
    --page-margins: 1cm;
    --card-width: 105mm;
    --card-height: 74mm;
    --card-padding: 5mm;
    --card-logo-width: 23mm;
    --card-base-font-size: 20pt;
    --card-sponsor-logos-height: 3mm;
    --crop-mark-thickness: 2pt;
    --crop-mark-length: calc(var(--crop-mark-thickness) * 3);
}
* {
    box-sizing: border-box;
}
@font-face {
    font-family: "Share";
    font-weight: normal;
    font-style: normal;
    src: url("./share-regular.ttf") format("truetype");
}
@font-face {
    font-family: "Share";
    font-weight: bold;
    font-style: normal;
    src: url("./share-bold.ttf") format("truetype");
}

body {
    background: #7c7c7c;
    font-family: Share, serif;
    line-height: 1.3;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    width: fit-content;
}

@page {
    size: A4 landscape;
}

.pages > * {
    position: relative;
    page-break-after: always;
    break-after: page;
    width: var(--page-width);
    height: var(--page-height);
    padding: var(--page-margins);
    display: flex;
}

.controls {
    background: #222222;
    padding: 2rem;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
}
.controls > * {
    flex: 0 1 fit-content;
}
.controls .data-input {
    flex-grow: 1;
}
.controls .instructions {
    flex: 1 0 100%;
    color: #eee;
    outline: 2px solid currentColor;
    padding: 1.5em;
}
ol {
    margin: 0;
    padding: 0 0 0 1em;
}
.controls .actions {
    align-self: flex-end;
}
.controls input,
.controls textarea {
    width: 100%;
    margin-bottom: 2em;
    padding: 0.3em;
}
.controls label {
    color: #eee;
    font-weight: bold;
}
button {
    color: #fff;
    font-size: 1rem;
    padding: 0.5em;
    border: none;
}

.controls .reset {
    background: #862500;
    opacity: 0.7;
    align-self: end;
}
.controls .reset:hover,
.controls .reset:active {
    opacity: 1;
}

.data-input textarea {
    min-height: 5em;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: var(--card-width);
    height: var(--card-height);
    padding: var(--card-padding);
    text-align: center;
    font-size: var(--card-base-font-size);
    font-weight: bold;
}
.card > * {
    flex: 0 1 auto;
}
.card .sponsors {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: calc(var(--card-padding)/2);
    gap: calc(var(--card-sponsor-logos-height) * 1.5);
    border-top: 1pt solid rgba(0, 0, 0, 0.3);
}
.card .logo {
    display: block;
    width: var(--card-logo-width);
    height: var(--card-logo-width);
    margin: 0 auto calc(var(--card-logo-width)/4) auto;
}
.card .content { flex-grow: 1; line-height: 1.2em }
.card .content div:nth-of-type(2) { font-size: 0.8em; }
.card .content div:nth-of-type(3) {
    margin-top: 0.5em;
    font-size: 0.6em;
}
.card .sponsors > * {
    height: var(--card-sponsor-logos-height);
}

.card-set > *:nth-child(2) {
    rotate: 180deg;
}


/* Crop marks */
.pages > *:before,
.pages > *:after {
    --crop-mark-length-clearance: calc(var(--crop-mark-length)*.5);
    --bottom-crop-mark-top-offset: calc(var(--card-height) * 2);
    --rightmost-crop-mark-left-offset: calc(var(--page-width) - var(--page-margins)*2 + var(--crop-mark-length-clearance));

    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    height: var(--crop-mark-thickness);
    width: var(--crop-mark-length);
    top: calc(var(--page-margins) - var(--crop-mark-thickness)/2);
    left: calc(var(--page-margins) - var(--crop-mark-length) - var(--crop-mark-length-clearance));

    background: transparent;
    /*
        Horizontal (!) crop marks on the corners of all
        card sets (of a page) created by box shadows, as
        those get printed (backgrounds usually don't):
        - Top left
        - Bottom left
        - Top right
        - Bottom right
   */
    box-shadow:
        inset 0 0 var(--crop-mark-thickness) black,
        0 var(--bottom-crop-mark-top-offset) black,
        var(--rightmost-crop-mark-left-offset) var(--bottom-crop-mark-top-offset) black,
        var(--rightmost-crop-mark-left-offset) 0 black
    ;
}

.pages > *:after {
    height: var(--crop-mark-length);
    width: var(--crop-mark-thickness);
    top: calc(var(--page-margins) - var(--crop-mark-length) - var(--crop-mark-length-clearance));
    left: calc(var(--page-margins) - var(--crop-mark-thickness)/2);

    --bottom-crop-mark-top-offset: calc(var(--card-height) * 2 + var(--crop-mark-length) + var(--crop-mark-length-clearance)*2);
    /*
    Vertical (!) crop marks on the edges of the card sets.
    In order of appearance:
        - top left
        - bottom left
        - and then duplicates across the page in multiples
          of the card widths.
   */
    box-shadow:
        inset 0 0 var(--crop-mark-thickness) black,
        0 var(--bottom-crop-mark-top-offset) black,
        /* Vertically separating the first vs second card set */
        var(--card-width) 0 black,
        var(--card-width) var(--bottom-crop-mark-top-offset) black,
        /* Vertically separating the second vs third card set */
        calc(var(--card-width) * 2) 0 black,
        calc(var(--card-width) * 2) var(--bottom-crop-mark-top-offset) black,
        /* Vertically separating the third vs fourth card set (hypothetical, as there's probably no horizontal space left for more cards) */
        calc(var(--card-width) * 3) 0 black,
        calc(var(--card-width) * 3) var(--bottom-crop-mark-top-offset) black;
}

@media screen {
    .pages > * {
        overflow: hidden;
        background: #fff;
        margin: 2rem;
        box-shadow: 0 0 3mm rgba(0, 0, 0, 0.4);
    }
    .card {
        outline: 1px dotted orange;
    }
}

@media print {
    body { background: none; }
    .controls { display: none; }
}