<div class="page-header">

    <a href="/" title="Zur Startseite" class="logo">
        <svg class="general--t3cch-logo"><use href="#general--t3cch-logo"></use></svg>
        <div class="sticker">01.-03. Mai 2025</div>
    </a>

    {{- partial "menu.html" . -}}
</div>
