<div class="page-footer">
    <div>
        <h4>Kontakt</h4>
        <strong>TYPO3camp Schweiz OK</strong><br />
        <ul class="contact-persons">
            <li>Andri Steiner</li>
            <li>David Höckele</li>
            <li title="🦦">Manuel Glauser</li>
            <li>Nicole Wiss</li>
        </ul>
        <a href="mailto:info@typo3camp.ch">info@typo3camp.ch</a><br />
        <a href="https://typo3.org/community/event-code-of-conduct/">TYPO3 Code of Conduct</a>
    </div>
    <div class="channels">
        <h4>Kanäle</h4>
        <a href="https://twitter.com/t3cch" target="_blank" title="TYPO3camp Schweiz auf Twitter folgen"><svg class="general--twitter-logo auto-adjust"><use href="#general--twitter-logo"></use></svg>@typo3camp</a><br />
        <a href="https://typo3.slack.com/archives/CAVA1P2P7" target="_blank" title="TYPO3camp Schweiz Channel auf Slack beitreten"><svg class="general--slack-logo auto-adjust"><use href="#general--slack-logo"></use></svg>#t3cch</a>
    </div>
    <div>
        <svg class="general--t3cch-logo"><use href="#general--t3cch-logo"></use></svg>
    </div>
</div>

{{ "{{< svg-sprite-loader general >}}" | markdownify }}