body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--site-background);
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  > * {
    flex: 0 0 auto;
  }
}

.page-header {
  --link-color: var(--link-color--inverted);
  --link-active-color: var(--link-active-color--inverted);
  --content-size: clamp(1.5rem, 5vw, 1.8rem);

  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: calc(var(--content-size) * 0.8);
  width: 100%;
  color: var(--content-color--inverted);

  padding:
    calc(var(--content-size) * 3)
    var(--content-size)
    calc(var(--content-size) * 1.5)
    var(--content-size);

  body:not(.transparent-page-header) & {
    position: relative;
    background: var(--page-header-background);
    padding-top: calc(var(--content-size) * 1.5);
  }

  > * { flex: 1; }
  align-items: center;

  nav {
    font-size: 1.8rem;
    line-height: 1.3;
    text-shadow: 2px 2px 0px black;

    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      gap: 0 1em;

      .transparent-page-header & {
        filter: drop-shadow(0px 0px 10px black);
      }
    }
  }

  .logo {
    position: relative;
    text-align: center;
    text-decoration: none;

    svg {
      width: calc(var(--content-size) * var(--logo-size--relative));
      filter: drop-shadow(0px 0px 50px unquote('rgba(255, 255, 255, 0.4)'));
    }

    .sticker {
      display: block;
      position: absolute;
      top: 71%;
      right: 0;
      background: var(--highlight-color);
      color: var(--highlight-color--contrast);
      padding: .2em .35em;
      transform: rotate(-8deg);
      box-shadow: 0 0 0.4em unquote('rgba(0, 0, 0, 20%)');
      line-height: normal;
      text-shadow: 1px 1px 4px unquote('rgba(0, 0, 0, 50%)');
      font-family: Share, sans-serif;
      font-size: calc(var(--logo-size--relative) * 15%);
      font-weight: bold;
    }
  }

  @media #{$breakpoint-medium} {
    nav ul { flex-direction: row; }
  }
}

.page-content {
  --max-content-width-margin-compensated: calc(var(--readable-content-width) + var(--content-side-margin) * 2);

  flex-grow: 1;
  padding-bottom: calc(var(--spacing-base) * 2);

  ul,
  ol {
    list-style: unset;
    li {
      margin-left: 1em;
      margin-bottom: 0.4em;
    }
  }

  > * {
    margin-left: auto;
    margin-right: auto;

    &:not(.full-width) {
      padding: 0 var(--content-side-margin);
      max-width: var(--max-content-width-margin-compensated);

      &:is(hr, table) {
        max-width: var(--readable-content-width);
      }
    }
  }
}

.page-footer {
  --link-color: var(--link-color--inverted);
  --link-active-color: var(--link-active-color--inverted);

  color: var(--content-color--inverted);
  background: var(--page-footer-background);
  padding: calc(var(--spacing-base)*2) var(--content-side-margin);

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: calc(var(--spacing-base) * 2);

  > * {
    flex: 1;
    &:first-child {
      flex-basis: 30%;
    }
    &:last-child {
      flex-grow: 0;
      svg {
        width: 7rem;
      }
    }
  }

  @media #{$breakpoint-medium} {
    flex-direction: row;
    > *:last-child {
      text-align: right;
    }
  }

  h4 {
    margin-top: 0;
    white-space: nowrap;
  }
  .channels a {
    white-space: nowrap;
  }
}