body {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: var(--main-font-size);
  line-height: 1.5;
  word-wrap: break-word;
}

em { font-style: italic; }
strong { font-weight: bold; }

a {
  color: var(--link-color);
  transition: all 0.4s;
  text-underline-offset: 0.17em;
  &:hover {
    color: var(--link-active-color);
  }
  nav & {
    text-decoration: none;
  }
}

p + p {
  margin-top: 1em;
}

svg.auto-adjust {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: middle;
}
svg.general--t3cch-logo {
  aspect-ratio: 1;
}

h1, h2, h3, h4 {
  font-family: Share, sans-serif;
  line-height: 1.2;
  margin: 1em auto 0.25em auto;
}
h1 {  font-size: clamp(2.2rem, 10vw, 3.3rem); }
h2 {  font-size: clamp(1.7rem, 7vw, 2.4rem); }
h3 {  font-size: clamp(1.4rem, 6vw, 2rem); }
h4 {  font-size: clamp(1.4rem, 4vw, 1.6rem); }

:where(h1, h2, h3, h4) .dateline {
  display: block;
  font-size: clamp(1rem, 0.6em, 0.6em);
  color: var(--highlight-color)
}